/* Gaya Dasar */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.container {
    max-width: 1200px; /* Menambahkan nilai max-width yang lebih besar */
}

.table {
    width: 100%; /* Memastikan tabel mengisi lebar kontainer */
}

button {
    margin-right: 5px; /* Memberikan jarak antara tombol */
}
